# Phase 1 Project

## Importing and loading data sets, initial inspection

In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns


df = pd.read_csv('Data\AviationData.csv', encoding='latin-1', low_memory=False)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

## Take a look at each column, see what stands out

In [16]:
# take a look at the value counts
for column in df.columns:
    print(column)
    print(f'{df[column].value_counts()} \n')

Event.Id
20001212X19172    3
20001214X45071    3
20220406104897    2
20020917X04070    2
20001208X07015    2
                 ..
20070615X00732    1
20070927X01456    1
20001212X19518    1
20001207X04208    1
20001211X13886    1
Name: Event.Id, Length: 87951, dtype: int64

Investigation.Type
Accident    85015
Incident     3874
Name: Investigation.Type, dtype: int64

Accident.Number
WPR22LA143    2
DCA22LA201    2
DCA23WA071    2
WPR23LA045    2
CEN22LA149    2
             ..
CHI83LA201    1
FTW90FA051    1
ANC83LA159    1
ATL89DEK01    1
NYC95LA168    1
Name: Accident.Number, Length: 88863, dtype: int64

Event.Date
1984-06-30    25
2000-07-08    25
1982-05-16    25
1983-06-05    24
1983-08-05    24
              ..
2005-12-02     1
2012-11-08     1
2018-12-26     1
1987-07-01     1
1989-02-20     1
Name: Event.Date, Length: 14782, dtype: int64

Location
ANCHORAGE, AK        434
MIAMI, FL            200
ALBUQUERQUE, NM      196
HOUSTON, TX          193
CHICAGO, IL          184
                    ...
Diamond, WA            1
FT. MCCLELLAN, AL      1
SMITHFIELD, VA         1
Nicholas, CA           1
Beckville, TX          1
Name: Location, Length: 27758, dtype: int64

Country
United States     82248
Brazil              374
Canada              359
Mexico              358
United Kingdom      344
                  ...
Gibraltar             1
Cambodia              1
St Lucia              1
Albania               1
AY                    1
Name: Country, Length: 219, dtype: int64

Latitude
332739N      19
335219N      18
334118N      17
32.815556    17
324934N      16
             ..
592927N       1
332253N       1
315429N       1
421445N       1
313539N       1
Name: Latitude, Length: 25589, dtype: int64

Longitude
0112457W       24
1114342W       18
1151140W       17
-104.673056    17
-112.0825      16
               ..
1165752W        1
-111.113611     1
0952659W        1
1491750W        1
0883616W        1
Name: Longitude, Length: 27154, dtype: int64

Airport.Code
NONE    1488
PVT      485
APA      160
ORD      149
MRI      137
        ...
8013       1
PTNI       1
KAQO       1
EDEG       1
W02        1
Name: Airport.Code, Length: 10375, dtype: int64

Airport.Name
Private                     240
PRIVATE                     224
Private Airstrip            153
NONE                        146
PRIVATE STRIP               111
                           ...
BENT COUNTY                   1
ROGERS MUNICIPAL AIRPORT      1
PERRY COMPANY                 1
Colson Creek                  1
HUDSON MUNI                   1
Name: Airport.Name, Length: 24871, dtype: int64

Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(96)         1
Fatal(138)        1
Fatal(43)         1
Fatal(88)         1
Fatal(35)         1
Name: Injury.Severity, Length: 109, dtype: int64

Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

Registration.Number
NONE      344
UNREG     126
None       65
UNK        13
USAF        9
         ...
N7690L      1
N8524Z      1
9KADD       1
N3561F      1
N121BT      1
Name: Registration.Number, Length: 79105, dtype: int64

Make
Cessna                  22227
Piper                   12029
CESSNA                   4922
Beech                    4330
PIPER                    2841
                        ...
Czech Sport AIrcraft        1
NOLES VANCE L               1
Alexander Volksplane        1
Charles T. Brietigam        1
Formhals                    1
Name: Make, Length: 8237, dtype: int64

Model
152                   2367
172                   1756
172N                  1164
PA-28-140              932
150                    829
                      ...
Firefly 7B-15            1
Tandum Air Bike          1
269 C-1                  1
RUTAN LONG-EZE           1
CHALLENGER SPEC II       1
Name: Model, Length: 12318, dtype: int64

Amateur.Built
No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
UNK                    1
Hybrid Rocket          1
Name: Engine.Type, dtype: int64

FAR.Description
091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
103                                   2
Public Aircraft                       2
Armed Forces                          1
Part 91F: Special Flt Ops.            1
437                                   1
Part 91 Subpart K: Fractional         1
Name: FAR.Description, dtype: int64

Schedule
NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

Purpose.of.flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

Air.carrier
Pilot                                 258
American Airlines                      90
United Airlines                        89
Delta Air Lines                        53
SOUTHWEST AIRLINES CO                  42
                                     ...
Errol Spaulding                         1
Thomas John Malinchak                   1
Scandinavian Aviation Academy Inc.      1
MCCOURT DWAYNE E                        1
John C Gomes III Trustee                1
Name: Air.carrier, Length: 13590, dtype: int64

Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64

Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64

Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

Weather.Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: Weather.Condition, dtype: int64

Broad.phase.of.flight

Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64

Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                                                   61754
Foreign                                                                                                                                                                                                                                                                                                                                           1999
<br /><br />                                                                                                                                                                                                                                                                                                                                       167
Factual                                                                                                                                                                                                                                                                                                                                            145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                                        56
                                                                                                                                                                                                                                                                                                                                                 ...
The pilots inadequate visual lookout while departing from a multiple-use waterway, which resulted in a collision with a drifting boat. Contributing to the accident were the lack of visual conspicuity of the boat and the limited amount of time the boat operator had to maneuver the boat once he heard and saw the oncoming airplane.\r        1
The pilots failure to maintain airplane control while conducting high-g turns, which resulted in impact with terrain. Contributing to the accident was the pilots improper decision to initiate the flight with a severe progressive neurological disorder that likely impaired his ability to safely operate the airplane. \r                     1
The pilot's decision to fly the airplane in close proximity to mountainous terrain in an area of mountain wave activity that exceeded the performance capabilities of the airplane. Contributing to the accident was the pilot's degraded decision making and performance due to his use of multiple sedating and impairing drugs.\r                 1
The pilot's failure to maintain pitch control during landing in gusting wind conditions, which resulted in a nose-over.\r                                                                                                                                                                                                                            1
An engine malfunction for undetermined reasons and the subsequent loss of control, due to the pilot's improper decision to maneuver the airplane below minimum controllable airspeed and his improper response to the loss of engine power.\r\n\r                                                                                                    1
Name: Report.Status, Length: 17075, dtype: int64

Publication.Date
25-09-2020    17019
26-09-2020     1769
03-11-2020     1155
31-03-1993      452
25-11-2003      396
              ...
28-12-2010        1
16-09-1997        1
30-09-2005        1
15-11-2021        1
07-04-2000        1
Name: Publication.Date, Length: 2924, dtype: int64

## Dropping these columns due to missingness and irrelevance to the analysis

In [17]:
drop_columns = ['Latitude', 'Longitude', 'Schedule', 'Air.carrier', 'Airport.Code',
                'Airport.Name', 'FAR.Description', 'Publication.Date', 'Report.Status']
df = df.drop(columns=drop_columns)
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,...,Amateur.Built,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,NC6404,...,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,N5069P,...,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,N5142R,...,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,N1168J,...,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,NaN,N15NY,...,No,NaN,NaN,Personal,1.0,2.0,NaN,0.0,VMC,Approach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Minor,NaN,NaN,N1867H,...,No,NaN,NaN,Personal,0.0,1.0,0.0,0.0,NaN,NaN
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,N2895Z,...,No,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,Non-Fatal,Substantial,Airplane,N749PJ,...,No,1.0,NaN,Personal,0.0,0.0,0.0,1.0,VMC,NaN
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,N210CU,...,No,NaN,NaN,Personal,0.0,0.0,0.0,0.0,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Minor,NaN,NaN,N9026P,...,No,NaN,NaN,Personal,0.0,1.0,0.0,1.0,NaN,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Injury.Severity         87889 non-null  object
 7   Aircraft.damage         85695 non-null  object
 8   Aircraft.Category       32287 non-null  object
 9   Registration.Number     87572 non-null  object
 10  Make                    88826 non-null  object
 11  Model                   88797 non-null  object
 12  Amateur.Built           88787 non-null  object
 13  Number.of.Engines       82805 non-null  float64
 14  Engine.Type             81812 non-null  object
 15  Purpose.of.flight       82697 non-null  object
 16  Total.Fatal.Injuries    77488 non-null  float64
 17  Total.Serious.Injuries  76379 non-null  float64
 18  Total.Minor.Injuries    76956 non-null  float64
 19  Total.Uninjured         82977 non-null  float64
 20  Weather.Condition       84397 non-null  object
 21  Broad.phase.of.flight   61724 non-null  object
dtypes: float64(5), object(17)
memory usage: 14.9+ MB

## Might want to keep these catagorical data due to potential relevance,
## recoding the NaN as 'NA'

In [19]:
# take a look at the value counts
for column in ['Aircraft.Category', 'Broad.phase.of.flight']:
    print(column)
    print(f'{df[column].value_counts()} \n')

Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64

In [20]:
#re-coding missing data for these catagories as 'NA' just in case we want them for later
df = df.fillna({'Aircraft.Category': 'NA', 'Broad.phase.of.flight': 'NA'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Injury.Severity         87889 non-null  object
 7   Aircraft.damage         85695 non-null  object
 8   Aircraft.Category       88889 non-null  object
 9   Registration.Number     87572 non-null  object
 10  Make                    88826 non-null  object
 11  Model                   88797 non-null  object
 12  Amateur.Built           88787 non-null  object
 13  Number.of.Engines       82805 non-null  float64
 14  Engine.Type             81812 non-null  object
 15  Purpose.of.flight       82697 non-null  object
 16  Total.Fatal.Injuries    77488 non-null  float64
 17  Total.Serious.Injuries  76379 non-null  float64
 18  Total.Minor.Injuries    76956 non-null  float64
 19  Total.Uninjured         82977 non-null  float64
 20  Weather.Condition       84397 non-null  object
 21  Broad.phase.of.flight   88889 non-null  object
dtypes: float64(5), object(17)
memory usage: 14.9+ MB

## Get a better idea of how much is missing now

In [21]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category             0
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
Purpose.of.flight          6192
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight         0
dtype: int64

## Now look at the injuries data

In [43]:
for col in ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Injuries']:
    print(f'{col} Value Counts:)
    print(df[col].value_counts())
    print('\n')
    print(df[col].describe())
    print('\n')
#print(df['Total.Fatal.Injuries'].value_counts())
#print(df['Total.Fatal.Injuries'].mean())
#print(df['Total.Fatal.Injuries'].median())
#print(df['Total.Fatal.Injuries'].mode())

SyntaxError: EOL while scanning string literal (<ipython-input-43-4b3f01573219>, line 2)

In [30]:
print(df['Total.Serious.Injuries'].value_counts())
print(df['Total.Serious.Injuries'].mean())
print(df['Total.Serious.Injuries'].median())
print(df['Total.Serious.Injuries'].mode())

0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64
0.27988059545162935
0.0
0    0.0
dtype: float64

In [31]:
print(df['Total.Minor.Injuries'].value_counts())
print(df['Total.Minor.Injuries'].mean())
print(df['Total.Minor.Injuries'].median())
print(df['Total.Minor.Injuries'].mode())

0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64
0.3570611778158948
0.0
0    0.0
dtype: float64