# Phase 1 Project

![TakeOff](./images/take_off.jpg)

## 1.  Importing and loading data sets, initial inspection

In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Data\AviationData.csv', encoding='latin-1', low_memory=False)
states_df = pd.read_csv('Data\\USState_Codes.csv')

In [106]:
# code the state names and abbreviations into the main df
states_dict = {}
for index, row in states_df.iterrows():
    states_dict[row[1]] = row[0]

    
def state_lookup(abbrev):
    if abbrev in states_dict.keys():
        return states_dict[abbrev]
    else:
        return None

df['State.Name'] = df['Location']
df['State.Abbrev'] = df['Location'].map(lambda x: str(x)[-2:])
df['State.Name'] = df['State.Abbrev'].map(lambda x: state_lookup(x) if state_lookup(x) != None else x)

In [107]:
df.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State.Name,State.Abbrev
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,Idaho,ID
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,California,CA
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,Virginia,VA

In [108]:
df['State.Name'].value_counts().tail()

08    1
4C    1
O6    1
y,    1
65    1
Name: State.Name, dtype: int64

In [109]:
# take a look at the value counts
for column in df.columns:
    print(f'Column Name: {column}')
    print(f'{df[column].value_counts()} \n')

Column Name: Event.Id
20001212X19172    3
20001214X45071    3
20020917X03016    2
20001211X15101    2
20001214X36042    2
                 ..
20040608X00753    1
20001214X42487    1
20080602X00759    1
20001213X28131    1
20001214X42536    1
Name: Event.Id, Length: 87951, dtype: int64

Column Name: Investigation.Type
Accident    85015
Incident     3874
Name: Investigation.Type, dtype: int64

Column Name: Accident.Number
DCA22LA135     2
ERA22FA318     2
DCA22LA201     2
ERA22LA379     2
DCA22WA204     2
              ..
CHI91LA038     1
LAX97LA317     1
ANC91LA040     1
LAX94LA050A    1
LAX00LA252     1
Name: Accident.Number, Length: 88863, dtype: int64

Column Name: Event.Date
1982-05-16    25
1984-06-30    25
2000-07-08    25
1986-05-17    24
1983-06-05    24
              ..
2020-01-28     1
2015-12-27     1
2014-11-01     1
2006-04-03     1
1997-02-28     1
Name: Event.Date, Length: 14782, dtype: int64

Column Name: Location
ANCHORAGE, AK              434
MIAMI, FL                  200
ALBUQUERQUE, NM            196
HOUSTON, TX                193
CHICAGO, IL                184
                          ...
Braham, MN                   1
Lacombe-Alberta, Canada      1
Black Rock City, NV          1
Syracuse, UT                 1
ANTLER, ND                   1
Name: Location, Length: 27758, dtype: int64

Column Name: Country
United States     82248
Brazil              374
Canada              359
Mexico              358
United Kingdom      344
                  ...
Gibraltar             1
Malampa               1
Ivory Coast           1
Benin                 1
French Guiana         1
Name: Country, Length: 219, dtype: int64

Column Name: Latitude
332739N      19
335219N      18
32.815556    17
334118N      17
039405N      16
             ..
28.047222     1
321217N       1
041576N       1
43.255        1
035348N       1
Name: Latitude, Length: 25589, dtype: int64

Column Name: Longitude
0112457W       24
1114342W       18
-104.673056    17
1151140W       17
-112.0825      16
               ..
-78.090277      1
-86.358333      1
0048259W        1
1135139W        1
0087209W        1
Name: Longitude, Length: 27154, dtype: int64

Column Name: Airport.Code
NONE    1488
PVT      485
APA      160
ORD      149
MRI      137
        ...
UT30       1
STFQ       1
Q74        1
GCT        1
KWAY       1
Name: Airport.Code, Length: 10375, dtype: int64

Column Name: Airport.Name
Private                    240
PRIVATE                    224
Private Airstrip           153
NONE                       146
PRIVATE STRIP              111
                          ...
Barking Sands Navy Base      1
Vermilion 229                1
Mc Cardle Farm               1
RING AIRPORT                 1
Ellerport Airport            1
Name: Airport.Name, Length: 24871, dtype: int64

Column Name: Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(107)        1
Fatal(21)         1
Fatal(144)        1
Fatal(217)        1
Fatal(124)        1
Name: Injury.Severity, Length: 109, dtype: int64

Column Name: Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

Column Name: Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

Column Name: Registration.Number
NONE      344
UNREG     126
None       65
UNK        13
USAF        9
         ...
C-FZNK      1
N119CG      1
N4541L      1
N501RM      1
N96719      1
Name: Registration.Number, Length: 79105, dtype: int64

Column Name: Make
Cessna                 22227
Piper                  12029
CESSNA                  4922
Beech                   4330
PIPER                   2841
                       ...
Spirangam                  1
WINGS AN THINGS INC        1
Hoye                       1
Stirling                   1
Ramsay                     1
Name: Make, Length: 8237, dtype: int64

Column Name: Model
152            2367
172            1756
172N           1164
PA-28-140       932
150             829
               ...
E75L300           1
F.33A             1
369-500D          1
P-47N-20-RE       1
Glasair 1RG       1
Name: Model, Length: 12318, dtype: int64

Column Name: Amateur.Built
No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

Column Name: Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

Column Name: Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
UNK                    1
Hybrid Rocket          1
Name: Engine.Type, dtype: int64

Column Name: FAR.Description
091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
125                                   5
Part 125: 20+ Pax,6000+ lbs           5
107                                   4
103                                   2
Public Aircraft                       2
Armed Forces                          1
Part 91 Subpart K: Fractional         1
437                                   1
Part 91F: Special Flt Ops.            1
Name: FAR.Description, dtype: int64

Column Name: Schedule
NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

Column Name: Purpose.of.flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

Column Name: Air.carrier
Pilot                               258
American Airlines                    90
United Airlines                      89
Delta Air Lines                      53
SOUTHWEST AIRLINES CO                42
                                   ...
CHESAPEAKE AVIATION SERVICES LLC      1
CITY OF TAMPA                         1
Craig Dennis Husch                    1
Crop-Serv Inc.                        1
LARSON CARROLL B                      1
Name: Air.carrier, Length: 13590, dtype: int64

Column Name: Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64

Column Name: Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

Column Name: Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64

Column Name: Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

Column Name: Weather.Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: Weather.Condition, dtype: int64

Column Name: Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64

Column Name: Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                61754
Foreign                                                                                                                                                                                                                                                                                                        1999
<br /><br />                                                                                                                                                                                                                                                                                                    167
Factual                                                                                                                                                                                                                                                                                                         145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                     56
                                                                                                                                                                                                                                                                                                              ...
The pilot's improper decision to land with a 20-knot tailwind and his failure to initiate a go-around, which resulted in a runway overrun.                                                                                                                                                                        1
The pilots inadequate preflight inspection and fuel planning, which resulted in fuel exhaustion and a total loss of engine power during descent.\r                                                                                                                                                               1
The loss of engine power due to the separation of the distributor gear arm on the left magneto.                                                                                                                                                                                                                   1
The pilots and flight instructor's failure to verify that the landing gear were extended, which resulted in a gear-up landing. Contributing to the accident was the flight instructors inadvertent pulling of the landing gear motor circuit, which prevented the landing gear from extending.\r\n\r\n\r        1
The pilots' failure to ensure that the electric fuel pumps were on before takeoff, which resulted in a partial loss of power on both engines during initial climb.\r\n\r                                                                                                                                          1
Name: Report.Status, Length: 17075, dtype: int64

Column Name: Publication.Date
25-09-2020    17019
26-09-2020     1769
03-11-2020     1155
31-03-1993      452
25-11-2003      396
              ...
13-07-2006        1
09-11-2004        1
30-01-2004        1
26-09-2006        1
21-10-2000        1
Name: Publication.Date, Length: 2924, dtype: int64

Column Name: State.Name
California    8882
Texas         5913
Florida       5825
Alaska        5672
Arizona       2834
              ...
08               1
4C               1
O6               1
y,               1
65               1
Name: State.Name, Length: 270, dtype: int64

Column Name: State.Abbrev
CA    8882
TX    5913
FL    5825
AK    5672
AZ    2834
      ...
08       1
8B       1
28       1
de       1
65       1
Name: State.Abbrev, Length: 270, dtype: int64

## 1. Data Cleaning

In [110]:
#Dropping these columns due to Not enough data, not enough relevance
drop_columns = ['Latitude',          
                'Longitude',         
                'Schedule',          
                'Air.carrier',       
                'Airport.Code',      
                'FAR.Description',   
                'Publication.Date',  
                'Report.Status',
                'Accident.Number',
                'Registration.Number'
               ]
df = df.drop(columns=drop_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Country                 88663 non-null  object
 5   Airport.Name            52790 non-null  object
 6   Injury.Severity         87889 non-null  object
 7   Aircraft.damage         85695 non-null  object
 8   Aircraft.Category       32287 non-null  object
 9   Make                    88826 non-null  object
 10  Model                   88797 non-null  object
 11  Amateur.Built           88787 non-null  object
 12  Number.of.Engines       82805 non-null  float64
 13  Engine.Type             81812 non-null  object
 14  Purpose.of.flight       82697 non-null  object
 15  Total.Fatal.Injuries    77488 non-null  float64
 16  Total.Serious.Injuries  76379 non-null  float64
 17  Total.Minor.Injuries    76956 non-null  float64
 18  Total.Uninjured         82977 non-null  float64
 19  Weather.Condition       84397 non-null  object
 20  Broad.phase.of.flight   61724 non-null  object
 21  State.Name              88889 non-null  object
 22  State.Abbrev            88889 non-null  object
dtypes: float64(5), object(18)
memory usage: 15.6+ MB

In [111]:
#Take a look at amateur built values
df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [112]:
#Take a look at amateur built NaN
df['Amateur.Built'].isna().sum()

102

In [113]:
# Stakeholders will not want to purchase airplanes built by amateurs for liability reasons
# dropping 'Amateur.Built' == 'Yes' or NaN 
df = df[(df['Amateur.Built'] == 'No') & (df['Amateur.Built'].notna())]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80312 entries, 0 to 88888
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                80312 non-null  object
 1   Investigation.Type      80312 non-null  object
 2   Event.Date              80312 non-null  object
 3   Location                80265 non-null  object
 4   Country                 80092 non-null  object
 5   Airport.Name            47400 non-null  object
 6   Injury.Severity         79313 non-null  object
 7   Aircraft.damage         77165 non-null  object
 8   Aircraft.Category       28721 non-null  object
 9   Make                    80266 non-null  object
 10  Model                   80245 non-null  object
 11  Amateur.Built           80312 non-null  object
 12  Number.of.Engines       74606 non-null  float64
 13  Engine.Type             73648 non-null  object
 14  Purpose.of.flight       74242 non-null  object
 15  Total.Fatal.Injuries    70155 non-null  float64
 16  Total.Serious.Injuries  69228 non-null  float64
 17  Total.Minor.Injuries    69755 non-null  float64
 18  Total.Uninjured         75425 non-null  float64
 19  Weather.Condition       75960 non-null  object
 20  Broad.phase.of.flight   56146 non-null  object
 21  State.Name              80312 non-null  object
 22  State.Abbrev            80312 non-null  object
dtypes: float64(5), object(18)
memory usage: 14.7+ MB

In [114]:
# Take a closer look at country
df['Country'].value_counts()

United States       73906
Brazil                367
Mexico                348
Canada                346
United Kingdom        327
                    ...
Montserrat              1
Malampa                 1
Seychelles              1
San Juan Islands        1
Benin                   1
Name: Country, Length: 217, dtype: int64

In [115]:
# Vast majority of this data set is from US crashes
# we shouldn't assume the model fits outside of US, removing non-US
df = df[df['Country'] == 'United States']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73906 entries, 0 to 88888
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                73906 non-null  object
 1   Investigation.Type      73906 non-null  object
 2   Event.Date              73906 non-null  object
 3   Location                73896 non-null  object
 4   Country                 73906 non-null  object
 5   Airport.Name            46285 non-null  object
 6   Injury.Severity         73798 non-null  object
 7   Aircraft.damage         71949 non-null  object
 8   Aircraft.Category       24697 non-null  object
 9   Make                    73897 non-null  object
 10  Model                   73891 non-null  object
 11  Amateur.Built           73906 non-null  object
 12  Number.of.Engines       72237 non-null  float64
 13  Engine.Type             71156 non-null  object
 14  Purpose.of.flight       71481 non-null  object
 15  Total.Fatal.Injuries    64425 non-null  float64
 16  Total.Serious.Injuries  63850 non-null  float64
 17  Total.Minor.Injuries    64443 non-null  float64
 18  Total.Uninjured         69830 non-null  float64
 19  Weather.Condition       73285 non-null  object
 20  Broad.phase.of.flight   55594 non-null  object
 21  State.Name              73906 non-null  object
 22  State.Abbrev            73906 non-null  object
dtypes: float64(5), object(18)
memory usage: 13.5+ MB

In [116]:
# A lot of missing data in these catagorical columns but may be relevant data,
# so recoding the NaN as 'DATA MISSING' for now
missing_data_dict = {'Airport.Name': 'DATA MISSING',
                     'Aircraft.Category': 'DATA MISSING',
                     'Broad.phase.of.flight': 'DATA MISSING'}
df = df.fillna(missing_data_dict)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73906 entries, 0 to 88888
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                73906 non-null  object
 1   Investigation.Type      73906 non-null  object
 2   Event.Date              73906 non-null  object
 3   Location                73896 non-null  object
 4   Country                 73906 non-null  object
 5   Airport.Name            73906 non-null  object
 6   Injury.Severity         73798 non-null  object
 7   Aircraft.damage         71949 non-null  object
 8   Aircraft.Category       73906 non-null  object
 9   Make                    73897 non-null  object
 10  Model                   73891 non-null  object
 11  Amateur.Built           73906 non-null  object
 12  Number.of.Engines       72237 non-null  float64
 13  Engine.Type             71156 non-null  object
 14  Purpose.of.flight       71481 non-null  object
 15  Total.Fatal.Injuries    64425 non-null  float64
 16  Total.Serious.Injuries  63850 non-null  float64
 17  Total.Minor.Injuries    64443 non-null  float64
 18  Total.Uninjured         69830 non-null  float64
 19  Weather.Condition       73285 non-null  object
 20  Broad.phase.of.flight   73906 non-null  object
 21  State.Name              73906 non-null  object
 22  State.Abbrev            73906 non-null  object
dtypes: float64(5), object(18)
memory usage: 13.5+ MB

In [117]:
# Take a closer look at 'Aircraft.Catagory' due to relevance
df['Aircraft.Category'].value_counts()

DATA MISSING         49209
Airplane             21121
Helicopter            2593
Glider                 472
Balloon                227
Weight-Shift           139
Powered Parachute       82
Gyrocraft               31
Ultralight              13
WSFT                     9
Blimp                    4
Powered-Lift             3
Unknown                  2
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [118]:
# Not much data outside of Airplane and Helicopter, and stakeholders want high volume
# for revenue, so dropping all other 'Aircraft.Category'
df = df[(df['Aircraft.Category'] == 'Airplane') | 
        (df['Aircraft.Category'] == 'Helicopter') | 
        (df['Aircraft.Category'] == 'DATA MISSING')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72923 entries, 0 to 88888
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                72923 non-null  object
 1   Investigation.Type      72923 non-null  object
 2   Event.Date              72923 non-null  object
 3   Location                72913 non-null  object
 4   Country                 72923 non-null  object
 5   Airport.Name            72923 non-null  object
 6   Injury.Severity         72815 non-null  object
 7   Aircraft.damage         71069 non-null  object
 8   Aircraft.Category       72923 non-null  object
 9   Make                    72914 non-null  object
 10  Model                   72908 non-null  object
 11  Amateur.Built           72923 non-null  object
 12  Number.of.Engines       71400 non-null  float64
 13  Engine.Type             70741 non-null  object
 14  Purpose.of.flight       70503 non-null  object
 15  Total.Fatal.Injuries    63579 non-null  float64
 16  Total.Serious.Injuries  62962 non-null  float64
 17  Total.Minor.Injuries    63563 non-null  float64
 18  Total.Uninjured         68884 non-null  float64
 19  Weather.Condition       72326 non-null  object
 20  Broad.phase.of.flight   72923 non-null  object
 21  State.Name              72923 non-null  object
 22  State.Abbrev            72923 non-null  object
dtypes: float64(5), object(18)
memory usage: 13.4+ MB

In [119]:
# Take a closer look at 'Broad.phase.of.flight' due to relevance
df['Broad.phase.of.flight'].value_counts()

DATA MISSING    17542
Landing         14367
Takeoff         10919
Cruise           9164
Maneuvering      7090
Approach         5762
Taxi             1858
Climb            1798
Descent          1726
Go-around        1268
Standing          902
Unknown           428
Other              99
Name: Broad.phase.of.flight, dtype: int64

In [120]:
# 'Broad.phase.of.flight' catagories look ok
df['Broad.phase.of.flight'].value_counts()

DATA MISSING    17542
Landing         14367
Takeoff         10919
Cruise           9164
Maneuvering      7090
Approach         5762
Taxi             1858
Climb            1798
Descent          1726
Go-around        1268
Standing          902
Unknown           428
Other              99
Name: Broad.phase.of.flight, dtype: int64

In [121]:
# check out the data chronologically
df['Event.Date'] = pd.to_datetime(df['Event.Date'])
df['Event.Date'].dt.year.value_counts()

1982    3245
1983    3236
1984    3190
1985    2882
1986    2644
1987    2617
1988    2494
1989    2323
1990    2278
1991    2219
1992    2052
1993    2041
1995    1993
1994    1981
1996    1900
1999    1845
1997    1839
1998    1830
2000    1798
2003    1710
2001    1676
2002    1646
2005    1589
2007    1555
2004    1551
2008    1422
2006    1416
2011    1328
2010    1300
2009    1286
2012    1282
2016    1123
2013    1116
2018    1102
2017    1101
2019    1087
2015    1084
2022    1083
2014    1070
2021    1034
2020     948
1979       2
1977       1
1948       1
1981       1
1962       1
1974       1
Name: Event.Date, dtype: int64

In [124]:
#drop the very old one-offs, questionable data
df = df[df['Event.Date'].dt.year > 1981]

In [125]:
df['Event.Month'] = df['Event.Date'].dt.month
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72916 entries, 7 to 88888
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                72916 non-null  object
 1   Investigation.Type      72916 non-null  object
 2   Event.Date              72916 non-null  datetime64[ns]
 3   Location                72906 non-null  object
 4   Country                 72916 non-null  object
 5   Airport.Name            72916 non-null  object
 6   Injury.Severity         72808 non-null  object
 7   Aircraft.damage         71062 non-null  object
 8   Aircraft.Category       72916 non-null  object
 9   Make                    72907 non-null  object
 10  Model                   72901 non-null  object
 11  Amateur.Built           72916 non-null  object
 12  Number.of.Engines       71394 non-null  float64
 13  Engine.Type             70735 non-null  object
 14  Purpose.of.flight       70497 non-null  object
 15  Total.Fatal.Injuries    63573 non-null  float64
 16  Total.Serious.Injuries  62957 non-null  float64
 17  Total.Minor.Injuries    63558 non-null  float64
 18  Total.Uninjured         68878 non-null  float64
 19  Weather.Condition       72319 non-null  object
 20  Broad.phase.of.flight   72916 non-null  object
 21  State.Name              72916 non-null  object
 22  State.Abbrev            72916 non-null  object
 23  Event.Month             72916 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(17)
memory usage: 13.9+ MB

In [126]:
# Get a better idea of how much is missing now
df.isna().sum()
df.groupby('Engine.Type').count()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72916 entries, 7 to 88888
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                72916 non-null  object
 1   Investigation.Type      72916 non-null  object
 2   Event.Date              72916 non-null  datetime64[ns]
 3   Location                72906 non-null  object
 4   Country                 72916 non-null  object
 5   Airport.Name            72916 non-null  object
 6   Injury.Severity         72808 non-null  object
 7   Aircraft.damage         71062 non-null  object
 8   Aircraft.Category       72916 non-null  object
 9   Make                    72907 non-null  object
 10  Model                   72901 non-null  object
 11  Amateur.Built           72916 non-null  object
 12  Number.of.Engines       71394 non-null  float64
 13  Engine.Type             70735 non-null  object
 14  Purpose.of.flight       70497 non-null  object
 15  Total.Fatal.Injuries    63573 non-null  float64
 16  Total.Serious.Injuries  62957 non-null  float64
 17  Total.Minor.Injuries    63558 non-null  float64
 18  Total.Uninjured         68878 non-null  float64
 19  Weather.Condition       72319 non-null  object
 20  Broad.phase.of.flight   72916 non-null  object
 21  State.Name              72916 non-null  object
 22  State.Abbrev            72916 non-null  object
 23  Event.Month             72916 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(17)
memory usage: 13.9+ MB

In [127]:
df['Make'] = df['Make'].str.upper()
df['Model'] = df['Model'].str.replace(' ', '')

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72916 entries, 7 to 88888
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                72916 non-null  object
 1   Investigation.Type      72916 non-null  object
 2   Event.Date              72916 non-null  datetime64[ns]
 3   Location                72906 non-null  object
 4   Country                 72916 non-null  object
 5   Airport.Name            72916 non-null  object
 6   Injury.Severity         72808 non-null  object
 7   Aircraft.damage         71062 non-null  object
 8   Aircraft.Category       72916 non-null  object
 9   Make                    72907 non-null  object
 10  Model                   72901 non-null  object
 11  Amateur.Built           72916 non-null  object
 12  Number.of.Engines       71394 non-null  float64
 13  Engine.Type             70735 non-null  object
 14  Purpose.of.flight       70497 non-null  object
 15  Total.Fatal.Injuries    63573 non-null  float64
 16  Total.Serious.Injuries  62957 non-null  float64
 17  Total.Minor.Injuries    63558 non-null  float64
 18  Total.Uninjured         68878 non-null  float64
 19  Weather.Condition       72319 non-null  object
 20  Broad.phase.of.flight   72916 non-null  object
 21  State.Name              72916 non-null  object
 22  State.Abbrev            72916 non-null  object
 23  Event.Month             72916 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(17)
memory usage: 13.9+ MB

In [129]:
#Save out the reduced file for tableau visualization
df.to_csv('Data\AviationDataReduced.csv')