# Phase 1 Project

![TakeOff](./images/take_off.jpg)

## 1.  Importing and loading data sets, initial inspection

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Data\AviationData.csv', encoding='latin-1', low_memory=False)
states_df = pd.read_csv('Data\\USState_Codes.csv')

In [78]:
# code the state names and abbreviations into the main df
states_dict = {}
for index, row in states_df.iterrows():
    states_dict[row[1]] = row[0]

    
def state_lookup(abbrev):
    if abbrev in states_dict.keys():
        return states_dict[abbrev]
    else:
        return None

df['State.Name'] = df['Location']
df['State.Abbrev'] = df['Location'].map(lambda x: str(x)[-2:])
df['State.Name'] = df['State.Abbrev'].map(lambda x: state_lookup(x) if state_lookup(x) != None else x)

In [79]:
df.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,State.Name,State.Abbrev
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,Idaho,ID
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,California,CA
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,Virginia,VA

In [80]:
df['State.Name'].value_counts().tail()

YA    1
3Q    1
8,    1
15    1
sk    1
Name: State.Name, dtype: int64

In [81]:
# take a look at the value counts
for column in df.columns:
    print(f'Column Name: {column}')
    print(f'{df[column].value_counts()} \n')

Column Name: Event.Id
20001212X19172    3
20001214X45071    3
20001214X36116    2
20040616X00799    2
20001208X05358    2
                 ..
20001214X40843    1
20001213X27342    1
20170821X14831    1
20070214X00186    1
20010831X01848    1
Name: Event.Id, Length: 87951, dtype: int64

Column Name: Investigation.Type
Accident    85015
Incident     3874
Name: Investigation.Type, dtype: int64

Column Name: Accident.Number
DCA22WA167    2
ERA22LA103    2
DCA22LA201    2
DCA23WA071    2
ERA22LA119    2
             ..
CHI85LA008    1
ERA17LA281    1
ERA11LA357    1
CHI95LA099    1
NYC92FA090    1
Name: Accident.Number, Length: 88863, dtype: int64

Column Name: Event.Date
1982-05-16    25
1984-06-30    25
2000-07-08    25
1984-08-25    24
1983-06-05    24
              ..
2004-11-26     1
2015-02-26     1
2018-11-15     1
1974-08-30     1
2011-10-31     1
Name: Event.Date, Length: 14782, dtype: int64

Column Name: Location
ANCHORAGE, AK                         434
MIAMI, FL                             200
ALBUQUERQUE, NM                       196
HOUSTON, TX                           193
CHICAGO, IL                           184
                                     ...
Lyon Saint Exupery Airport, France      1
RUTLAND, IA                             1
Fukushima City, Japan                   1
Lacassine, LA                           1
Versailles, OH                          1
Name: Location, Length: 27758, dtype: int64

Column Name: Country
United States                       82248
Brazil                                374
Canada                                359
Mexico                                358
United Kingdom                        344
                                    ...
Albania                                 1
Pacific Ocean                           1
Anguilla                                1
Saint Vincent and the Grenadines        1
Montserrat                              1
Name: Country, Length: 219, dtype: int64

Column Name: Latitude
332739N      19
335219N      18
32.815556    17
334118N      17
039405N      16
             ..
291437N       1
026935N       1
041359N       1
002937N       1
3694012       1
Name: Latitude, Length: 25589, dtype: int64

Column Name: Longitude
0112457W       24
1114342W       18
-104.673056    17
1151140W       17
1114840W       16
               ..
0022550E        1
-157.833333     1
1344128W        1
0078594W        1
0935138W        1
Name: Longitude, Length: 27154, dtype: int64

Column Name: Airport.Code
NONE    1488
PVT      485
APA      160
ORD      149
MRI      137
        ...
E26        1
UMT        1
V1Q        1
SSKS       1
N\A        1
Name: Airport.Code, Length: 10375, dtype: int64

Column Name: Airport.Name
Private                     240
PRIVATE                     224
Private Airstrip            153
NONE                        146
PRIVATE STRIP               111
                           ...
HARBOR SPRINGS MUNICIPAL      1
ZANGGER                       1
Sally Wofford                 1
Walter J Kolazda Airport      1
HAWARD AIR TERM.              1
Name: Airport.Name, Length: 24871, dtype: int64

Column Name: Injury.Severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(83)         1
Fatal(228)        1
Fatal(156)        1
Fatal(111)        1
Fatal(265)        1
Name: Injury.Severity, Length: 109, dtype: int64

Column Name: Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: Aircraft.damage, dtype: int64

Column Name: Aircraft.Category
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

Column Name: Registration.Number
NONE      344
UNREG     126
None       65
UNK        13
USAF        9
         ...
C-GMCP      1
N1293D      1
N42366      1
N2577U      1
N8515L      1
Name: Registration.Number, Length: 79105, dtype: int64

Column Name: Make
Cessna                  22227
Piper                   12029
CESSNA                   4922
Beech                    4330
PIPER                    2841
                        ...
DEAN PATRICK G              1
MXR TECHNOLOGIES INC        1
Christavia                  1
CHAMBERLAIN GERALD          1
Ware Teenie                 1
Name: Make, Length: 8237, dtype: int64

Column Name: Model
152               2367
172               1756
172N              1164
PA-28-140          932
150                829
                  ...
RAVEN 560            1
SD-1 MINISPORT       1
SIDE WINDER TD       1
IS-26B2              1
95C-55               1
Name: Model, Length: 12318, dtype: int64

Column Name: Amateur.Built
No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

Column Name: Number.of.Engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: Number.of.Engines, dtype: int64

Column Name: Engine.Type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
UNK                    1
Hybrid Rocket          1
Name: Engine.Type, dtype: int64

Column Name: FAR.Description
091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
Part 125: 20+ Pax,6000+ lbs           5
125                                   5
107                                   4
103                                   2
Public Aircraft                       2
Part 91 Subpart K: Fractional         1
Armed Forces                          1
437                                   1
Part 91F: Special Flt Ops.            1
Name: FAR.Description, dtype: int64

Column Name: Schedule
NSCH    4474
UNK     4099
SCHD    4009
Name: Schedule, dtype: int64

Column Name: Purpose.of.flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

Column Name: Air.carrier
Pilot                           258
American Airlines                90
United Airlines                  89
Delta Air Lines                  53
SOUTHWEST AIRLINES CO            42
                               ...
Petroleum Helicoters, Inc.        1
Pacific Coastal Airlines Ltd      1
KRAXBERGER RICK R                 1
Idaho Flight Academy              1
American Corp Aviation            1
Name: Air.carrier, Length: 13590, dtype: int64

Column Name: Total.Fatal.Injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64

Column Name: Total.Serious.Injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: Total.Serious.Injuries, dtype: int64

Column Name: Total.Minor.Injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: Total.Minor.Injuries, dtype: int64

Column Name: Total.Uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: Total.Uninjured, Length: 379, dtype: int64

Column Name: Weather.Condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: Weather.Condition, dtype: int64

Column Name: Broad.phase.of.flight
Landing        15428
Takeoff        12493
Cruise         10269
Maneuvering     8144
Approach        6546
Climb           2034
Taxi            1958
Descent         1887
Go-around       1353
Standing         945
Unknown          548
Other            119
Name: Broad.phase.of.flight, dtype: int64

Column Name: Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                       61754
Foreign                                                                                                                                                                                                                                                                                                               1999
<br /><br />                                                                                                                                                                                                                                                                                                           167
Factual                                                                                                                                                                                                                                                                                                                145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                            56
                                                                                                                                                                                                                                                                                                                     ...
A collision with a deer on the runway during the takeoff roll.\r\n\r                                                                                                                                                                                                                                                     1
The pilotÂ’s encounter with low clouds/low visibility conditions during the initial climb, which resulted in spatial disorientation and loss of airplane control.                                                                                                                                                         1
A total loss of engine power due to fuel starvation as a result of a mechanicÂ’s failure to properly tighten the B-nut to the fuel pump inlet during a recent annual inspection. Contributing to the accident was the pilot's decision to take off despite indications that the engine was not operating normally.        1
The pilot's hard landing, resulting in a runway excursion and substantial damage to the firewall.                                                                                                                                                                                                                        1
The pilotÂ’s loss of control due to his not maintaining adequate airspeed and altitude during a simulated hydraulic flight control failure. Contributing to the accident was the flight instructorÂ’s inadequate supervision and delayed remedial response.                                                                1
Name: Report.Status, Length: 17075, dtype: int64

Column Name: Publication.Date
25-09-2020    17019
26-09-2020     1769
03-11-2020     1155
31-03-1993      452
25-11-2003      396
              ...
18-01-2007        1
10-06-1997        1
22-07-1996        1
31-03-1992        1
19-10-1988        1
Name: Publication.Date, Length: 2924, dtype: int64

Column Name: State.Name
California    8882
Texas         5913
Florida       5825
Alaska        5672
Arizona       2834
              ...
YA               1
3Q               1
8,               1
15               1
sk               1
Name: State.Name, Length: 270, dtype: int64

Column Name: State.Abbrev
CA    8882
TX    5913
FL    5825
AK    5672
AZ    2834
      ...
50       1
15       1
8,       1
3Q       1
18       1
Name: State.Abbrev, Length: 270, dtype: int64

## 1. Data Cleaning

In [82]:
#Dropping these columns due to Not enough data, not enough relevance
drop_columns = ['Latitude',          
                'Longitude',         
                'Schedule',          
                'Air.carrier',       
                'Airport.Code',      
                'FAR.Description',   
                'Publication.Date',  
                'Report.Status'      
               ]
df = df.drop(columns=drop_columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Name            52790 non-null  object
 7   Injury.Severity         87889 non-null  object
 8   Aircraft.damage         85695 non-null  object
 9   Aircraft.Category       32287 non-null  object
 10  Registration.Number     87572 non-null  object
 11  Make                    88826 non-null  object
 12  Model                   88797 non-null  object
 13  Amateur.Built           88787 non-null  object
 14  Number.of.Engines       82805 non-null  float64
 15  Engine.Type             81812 non-null  object
 16  Purpose.of.flight       82697 non-null  object
 17  Total.Fatal.Injuries    77488 non-null  float64
 18  Total.Serious.Injuries  76379 non-null  float64
 19  Total.Minor.Injuries    76956 non-null  float64
 20  Total.Uninjured         82977 non-null  float64
 21  Weather.Condition       84397 non-null  object
 22  Broad.phase.of.flight   61724 non-null  object
 23  State.Name              88889 non-null  object
 24  State.Abbrev            88889 non-null  object
dtypes: float64(5), object(20)
memory usage: 17.0+ MB

In [83]:
#Take a look at amateur built values
df['Amateur.Built'].value_counts()

No     80312
Yes     8475
Name: Amateur.Built, dtype: int64

In [84]:
#Take a look at amateur built NaN
df['Amateur.Built'].isna().sum()

102

In [85]:
# Stakeholders will not want to purchase airplanes built by amateurs for liability reasons
# dropping 'Amateur.Built' == 'Yes' or NaN 
df = df[(df['Amateur.Built'] == 'No') & (df['Amateur.Built'].notna())]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80312 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                80312 non-null  object
 1   Investigation.Type      80312 non-null  object
 2   Accident.Number         80312 non-null  object
 3   Event.Date              80312 non-null  object
 4   Location                80265 non-null  object
 5   Country                 80092 non-null  object
 6   Airport.Name            47400 non-null  object
 7   Injury.Severity         79313 non-null  object
 8   Aircraft.damage         77165 non-null  object
 9   Aircraft.Category       28721 non-null  object
 10  Registration.Number     79101 non-null  object
 11  Make                    80266 non-null  object
 12  Model                   80245 non-null  object
 13  Amateur.Built           80312 non-null  object
 14  Number.of.Engines       74606 non-null  float64
 15  Engine.Type             73648 non-null  object
 16  Purpose.of.flight       74242 non-null  object
 17  Total.Fatal.Injuries    70155 non-null  float64
 18  Total.Serious.Injuries  69228 non-null  float64
 19  Total.Minor.Injuries    69755 non-null  float64
 20  Total.Uninjured         75425 non-null  float64
 21  Weather.Condition       75960 non-null  object
 22  Broad.phase.of.flight   56146 non-null  object
 23  State.Name              80312 non-null  object
 24  State.Abbrev            80312 non-null  object
dtypes: float64(5), object(20)
memory usage: 15.9+ MB

In [86]:
# Take a closer look at country
df['Country'].value_counts()

United States                    73906
Brazil                             367
Mexico                             348
Canada                             346
United Kingdom                     327
                                 ...
Guernsey                             1
Eritrea                              1
Belarus                              1
St Vincent And The Grenadines        1
Wallis and Futuna                    1
Name: Country, Length: 217, dtype: int64

In [87]:
# Vast majority of this data set is from US crashes
# we shouldn't assume the model fits outside of US, removing non-US
df = df[df['Country'] == 'United States']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73906 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                73906 non-null  object
 1   Investigation.Type      73906 non-null  object
 2   Accident.Number         73906 non-null  object
 3   Event.Date              73906 non-null  object
 4   Location                73896 non-null  object
 5   Country                 73906 non-null  object
 6   Airport.Name            46285 non-null  object
 7   Injury.Severity         73798 non-null  object
 8   Aircraft.damage         71949 non-null  object
 9   Aircraft.Category       24697 non-null  object
 10  Registration.Number     73856 non-null  object
 11  Make                    73897 non-null  object
 12  Model                   73891 non-null  object
 13  Amateur.Built           73906 non-null  object
 14  Number.of.Engines       72237 non-null  float64
 15  Engine.Type             71156 non-null  object
 16  Purpose.of.flight       71481 non-null  object
 17  Total.Fatal.Injuries    64425 non-null  float64
 18  Total.Serious.Injuries  63850 non-null  float64
 19  Total.Minor.Injuries    64443 non-null  float64
 20  Total.Uninjured         69830 non-null  float64
 21  Weather.Condition       73285 non-null  object
 22  Broad.phase.of.flight   55594 non-null  object
 23  State.Name              73906 non-null  object
 24  State.Abbrev            73906 non-null  object
dtypes: float64(5), object(20)
memory usage: 14.7+ MB

In [88]:
# A lot of missing data in these catagorical columns but may be relevant data,
# so recoding the NaN as 'DATA MISSING' for now
missing_data_dict = {'Airport.Name': 'DATA MISSING',
                     'Aircraft.Category': 'DATA MISSING',
                     'Broad.phase.of.flight': 'DATA MISSING'}
df = df.fillna(missing_data_dict)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73906 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                73906 non-null  object
 1   Investigation.Type      73906 non-null  object
 2   Accident.Number         73906 non-null  object
 3   Event.Date              73906 non-null  object
 4   Location                73896 non-null  object
 5   Country                 73906 non-null  object
 6   Airport.Name            73906 non-null  object
 7   Injury.Severity         73798 non-null  object
 8   Aircraft.damage         71949 non-null  object
 9   Aircraft.Category       73906 non-null  object
 10  Registration.Number     73856 non-null  object
 11  Make                    73897 non-null  object
 12  Model                   73891 non-null  object
 13  Amateur.Built           73906 non-null  object
 14  Number.of.Engines       72237 non-null  float64
 15  Engine.Type             71156 non-null  object
 16  Purpose.of.flight       71481 non-null  object
 17  Total.Fatal.Injuries    64425 non-null  float64
 18  Total.Serious.Injuries  63850 non-null  float64
 19  Total.Minor.Injuries    64443 non-null  float64
 20  Total.Uninjured         69830 non-null  float64
 21  Weather.Condition       73285 non-null  object
 22  Broad.phase.of.flight   73906 non-null  object
 23  State.Name              73906 non-null  object
 24  State.Abbrev            73906 non-null  object
dtypes: float64(5), object(20)
memory usage: 14.7+ MB

In [89]:
# Take a closer look at 'Aircraft.Catagory' due to relevance
df['Aircraft.Category'].value_counts()

DATA MISSING         49209
Airplane             21121
Helicopter            2593
Glider                 472
Balloon                227
Weight-Shift           139
Powered Parachute       82
Gyrocraft               31
Ultralight              13
WSFT                     9
Blimp                    4
Powered-Lift             3
Unknown                  2
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [90]:
# Not much data outside of Airplane and Helicopter, and stakeholders want high volume
# for revenue, so dropping all other 'Aircraft.Category'
df = df[(df['Aircraft.Category'] == 'Airplane') | 
        (df['Aircraft.Category'] == 'Helicopter') | 
        (df['Aircraft.Category'] == 'DATA MISSING')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72923 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                72923 non-null  object
 1   Investigation.Type      72923 non-null  object
 2   Accident.Number         72923 non-null  object
 3   Event.Date              72923 non-null  object
 4   Location                72913 non-null  object
 5   Country                 72923 non-null  object
 6   Airport.Name            72923 non-null  object
 7   Injury.Severity         72815 non-null  object
 8   Aircraft.damage         71069 non-null  object
 9   Aircraft.Category       72923 non-null  object
 10  Registration.Number     72873 non-null  object
 11  Make                    72914 non-null  object
 12  Model                   72908 non-null  object
 13  Amateur.Built           72923 non-null  object
 14  Number.of.Engines       71400 non-null  float64
 15  Engine.Type             70741 non-null  object
 16  Purpose.of.flight       70503 non-null  object
 17  Total.Fatal.Injuries    63579 non-null  float64
 18  Total.Serious.Injuries  62962 non-null  float64
 19  Total.Minor.Injuries    63563 non-null  float64
 20  Total.Uninjured         68884 non-null  float64
 21  Weather.Condition       72326 non-null  object
 22  Broad.phase.of.flight   72923 non-null  object
 23  State.Name              72923 non-null  object
 24  State.Abbrev            72923 non-null  object
dtypes: float64(5), object(20)
memory usage: 14.5+ MB

In [91]:
# Take a closer look at 'Broad.phase.of.flight' due to relevance
df['Broad.phase.of.flight'].value_counts()

DATA MISSING    17542
Landing         14367
Takeoff         10919
Cruise           9164
Maneuvering      7090
Approach         5762
Taxi             1858
Climb            1798
Descent          1726
Go-around        1268
Standing          902
Unknown           428
Other              99
Name: Broad.phase.of.flight, dtype: int64

In [92]:
# 'Broad.phase.of.flight' catagories look ok
df['Broad.phase.of.flight'].value_counts()

DATA MISSING    17542
Landing         14367
Takeoff         10919
Cruise           9164
Maneuvering      7090
Approach         5762
Taxi             1858
Climb            1798
Descent          1726
Go-around        1268
Standing          902
Unknown           428
Other              99
Name: Broad.phase.of.flight, dtype: int64

In [93]:
# check out the data chronologically
df['Event.Date'] = pd.to_datetime(df['Event.Date'])
df['Event.Date'].dt.year.value_counts()

1982    3245
1983    3236
1984    3190
1985    2882
1986    2644
1987    2617
1988    2494
1989    2323
1990    2278
1991    2219
1992    2052
1993    2041
1995    1993
1994    1981
1996    1900
1999    1845
1997    1839
1998    1830
2000    1798
2003    1710
2001    1676
2002    1646
2005    1589
2007    1555
2004    1551
2008    1422
2006    1416
2011    1328
2010    1300
2009    1286
2012    1282
2016    1123
2013    1116
2018    1102
2017    1101
2019    1087
2015    1084
2022    1083
2014    1070
2021    1034
2020     948
1979       2
1977       1
1948       1
1981       1
1962       1
1974       1
Name: Event.Date, dtype: int64

In [94]:
#drop the very old one-offs, questionable data
df = df[df['Event.Date'].dt.year > 1981]
df['Event.Date'].dt.year.value_counts()

1982    3245
1983    3236
1984    3190
1985    2882
1986    2644
1987    2617
1988    2494
1989    2323
1990    2278
1991    2219
1992    2052
1993    2041
1995    1993
1994    1981
1996    1900
1999    1845
1997    1839
1998    1830
2000    1798
2003    1710
2001    1676
2002    1646
2005    1589
2007    1555
2004    1551
2008    1422
2006    1416
2011    1328
2010    1300
2009    1286
2012    1282
2016    1123
2013    1116
2018    1102
2017    1101
2019    1087
2015    1084
2022    1083
2014    1070
2021    1034
2020     948
Name: Event.Date, dtype: int64

In [95]:
# Get a better idea of how much is missing now
df.isna().sum()

Event.Id                     0
Investigation.Type           0
Accident.Number              0
Event.Date                   0
Location                    10
Country                      0
Airport.Name                 0
Injury.Severity            108
Aircraft.damage           1854
Aircraft.Category            0
Registration.Number         50
Make                         9
Model                       15
Amateur.Built                0
Number.of.Engines         1522
Engine.Type               2181
Purpose.of.flight         2419
Total.Fatal.Injuries      9343
Total.Serious.Injuries    9959
Total.Minor.Injuries      9358
Total.Uninjured           4038
Weather.Condition          597
Broad.phase.of.flight        0
State.Name                   0
State.Abbrev                 0
dtype: int64

## Now look at the injuries data

In [96]:
for col in ['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']:
    print(f'{col} Value Counts:')
    print(df[col].value_counts())
    print(f'\n{col} Descibed:')
    print(df[col].describe())
    print('\n')

Total.Fatal.Injuries Value Counts:
0.0      50975
1.0       6124
2.0       3863
3.0       1243
4.0        837
5.0        220
6.0        132
7.0         43
8.0         32
10.0        21
9.0         15
14.0         7
11.0         6
12.0         5
18.0         3
13.0         3
17.0         3
25.0         3
82.0         2
49.0         2
20.0         2
23.0         2
34.0         2
230.0        1
29.0         1
132.0        1
135.0        1
265.0        1
16.0         1
65.0         1
88.0         1
111.0        1
19.0         1
37.0         1
78.0         1
68.0         1
153.0        1
28.0         1
110.0        1
31.0         1
44.0         1
27.0         1
70.0         1
73.0         1
43.0         1
228.0        1
64.0         1
15.0         1
21.0         1
92.0         1
156.0        1
Name: Total.Fatal.Injuries, dtype: int64

Total.Fatal.Injuries Descibed:
count    63573.000000
mean         0.424834
std          2.570359
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        265.000000
Name: Total.Fatal.Injuries, dtype: float64


Total.Serious.Injuries Value Counts:
0.0      52524
1.0       7220
2.0       2354
3.0        528
4.0        204
5.0         47
6.0         20
7.0         16
9.0          7
10.0         5
8.0          5
13.0         4
12.0         2
26.0         2
25.0         1
81.0         1
20.0         1
41.0         1
88.0         1
17.0         1
22.0         1
137.0        1
60.0         1
21.0         1
16.0         1
27.0         1
45.0         1
11.0         1
19.0         1
28.0         1
125.0        1
47.0         1
15.0         1
Name: Total.Serious.Injuries, dtype: int64

Total.Serious.Injuries Descibed:
count    62957.000000
mean         0.252887
std          1.195226
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        137.000000
Name: Total.Serious.Injuries, dtype: float64


Total.Minor.Injuries Value Counts:
0.0      50902
1.0       8222
2.0       3098
3.0        697
4.0        326
5.0         89
6.0         50
7.0         44
8.0         16
9.0         14
13.0        10
11.0         8
12.0         7
10.0         7
17.0         6
14.0         6
19.0         4
25.0         4
24.0         4
18.0         4
23.0         3
33.0         3
16.0         3
42.0         2
20.0         2
26.0         2
38.0         2
27.0         2
22.0         2
21.0         2
36.0         2
50.0         2
32.0         1
65.0         1
125.0        1
35.0         1
62.0         1
28.0         1
96.0         1
58.0         1
30.0         1
57.0         1
43.0         1
31.0         1
15.0         1
Name: Total.Minor.Injuries, dtype: int64

Total.Minor.Injuries Descibed:
count    63558.000000
mean         0.337943
std          1.371688
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        125.000000
Name: Total.Minor.Injuries, dtype: float64


Total.Uninjured Value Counts:
0.0      22025
1.0      21982
2.0      14441
3.0       4010
4.0       2484
         ...
386.0        1
251.0        1
237.0        1
397.0        1
319.0        1
Name: Total.Uninjured, Length: 349, dtype: int64

Total.Uninjured Descibed:
count    68878.000000
mean         4.723250
std         25.089356
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max        699.000000
Name: Total.Uninjured, dtype: float64

In [97]:
count_am_built_yes = len(df[df['Amateur.Built'] == 'Yes'])
count_am_built_no = len(df[df['Amateur.Built'] == 'No'])

uninjured_counts = list(df.groupby('Amateur.Built')['Total.Uninjured'].sum())
uninjured_counts[0] /= count_am_built_no
uninjured_counts[1] /= count_am_built_yes
uninjured_counts

IndexError: list index out of range

# Normalized by count, uninjured is higher for non-amateur built

In [98]:
df.to_csv('Data\AviationDataReduced.csv')